@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cal Sans", sans-serif;
}

:root{
    --corPrimaria: rgb(28, 0, 66);
    --corSecundaria: #cbcbcb;
    --corSombra: #000000;
    --corTexto: rgb(223, 220, 220);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position: relative;
    background-color: #191919;
    opacity: 1;
    background-image:  radial-gradient(#9700cf 1px, transparent 1px), radial-gradient(#9700cf 1px, #191919 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
}

header{
    background-color: var(--corPrimaria);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 4px var(--corSombra);
    display: flex;
}

.titulo-header{
    color:var(--corTexto);
    font-size: 2rem;
}

.btnBack {
    text-decoration: none;
    width: 100px;
    height: 40px;
    padding: 20px;

    border-radius: 20px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family: "Cal Sans";

    cursor: pointer;

    transition: all 500ms;
    box-shadow: 0px 2px 5px black;
    color: black;
    background-color: rgb(255, 255, 255);
}

.btnBack:hover {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}

main{
    font-style: var(--corTexto);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--corSombra);
    gap: 20px;
    background-color: rgb(28, 0, 66);
    border-radius: 25px;
}

.boxheader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    gap: 20px;
}


#userprocura {
    width: 45%;
    height: 25px;
    box-shadow: 2px 2px 10px var(--corSombra);
}

.searchInput {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    border: 0px;
    outline: none;
    box-shadow:  0px 2px 5px black;
    font-size: 18px;
    transition: all 500ms;
}

.lupa{
    cursor: pointer;
    background-color: #ffff;
    height: 35px;
    width: 35px;
    padding: 2.5px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--corSombra);
    transition: all 200ms;
}

.lupa:hover{
    background-color: #1880b4;
}

.recupera{
    cursor: pointer;
    background-color: #ffff;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--corSombra);
    transition: all 200ms;
}

.recupera:hover{
    background-color: #1880b4;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
    color: var(--corTexto);
}