@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cal Sans", sans-serif;
    text-decoration: none;
}

:root {
    min-height: 100dvh;
    /* opacity: 1;
    background-color: #191919;
    background-image:  radial-gradient(#9700cf 1px, transparent 1px), radial-gradient(#9700cf 1px, #191919 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px; */

    /* background-color: #ffffff;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000000 2px, #ffffff 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px; */

    background-image: url(../assets/wallpapersden.com_fantasy-castle-pixel-art_1920x1081.jpg);
}

body {
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header div {
    height: 100%;
    background-color: transparent;
    flex-basis: 350px 450px 350px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    background-color: rgb(61, 61, 61);
    box-shadow: 0px 2px 25px rgb(63, 63, 63);
}

/* Left Container */

.left {
  flex-basis: 33.33%; /* 1/3 do espaço */
}

.logo-GamesWiki {
    height: 100%;
    filter: drop-shadow(0px 2px 1px black);
}

.left a {
    height: 100%;
}

/* Mid Container */

.mid {
      /* flex-basis: 33.33%; 1/3 do espaço */
    width: 450px;
    display: flex;
    gap: 10px;
}

.searchField {
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
}

.search {
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    border: 0px;
    outline: none;
    box-shadow:  0px 2px 5px black;

    font-size: 18px;
    z-index: 5;
}

.buttonSearch {
    width: 100px;
    height: 40px;
    padding: 20px;

    border-radius: 20px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family: "Cal Sans";

    cursor: pointer;

    transition: all 500ms;
    box-shadow: 0px 2px 5px black;
    color: white;
    background-color: purple;
}

.buttonSearch:hover {
    color: white;
    box-shadow: 0px 0px 10px black;
}

/* Right Container */

.right {
      flex-basis: 33.33%; /* 1/3 do espaço */
      display: flex;
      justify-content: end;
}

.userField{
    padding: 25px;
    justify-content: end;
}

.userField a {
    align-items: center;
}

.nameUser {
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

#logout {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    
    cursor: pointer;
    transition: ease-in-out 500ms;
}

#logout:hover {
    filter: drop-shadow(0px 0px 2px rgb(255, 0, 0));
}

/* Main */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Container */

.containerMain {
    height: auto;
    min-height: 100%;
    padding: 40px;
    margin: 20px;
    background-color: rgba(28, 0, 66, 0.85);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.37);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
}

.containerMain h1 {
    color: white;
    text-shadow: 0px 3px 5px black;
    text-align: center;
}

#LoadingContainer {
    width: 100%;
    height: 100%;
}

#rangeSearch {
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

#rangeSearch::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px rgb(54, 0, 129);
}

.rangeText {
    color: white;
    font-weight: 100;
    color: #999;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.rangeText span {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.containerResults {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 15px; 
}

.card {
    min-height: 380px;
    max-width: 430px;
    flex-basis: 350px;
    background-color: rgb(16, 16, 16);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
}

.card img {
    width: 100%;
    height: 100%;
}

.card h3 {
    margin: 10px;
    color: white;
    font-weight: 400;
}

.thumbGame {
    border-radius: 25px 25px 0px 0px;
    height: 200px;
    overflow: hidden;
}

.thumbGame img {
    transition: ease-in-out 500ms;
}

.card:hover .thumbGame img {
    transform: scale(1.1);
}

.detailsGame {
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.detailsGame p {
    font-weight: 400;
}

.detailsGame p span {
    font-weight: 100;
    color: gray;
}

.avatarUser {
    width: 40px !important;
    height: 40px !important;
}

/* Game Details page */

/* Responsivity */

@media screen and (max-width: 550px) {
    .logo-GamesWiki {
        display: none;
    }
    
    .left {
        display: none;
    }

    .avatarUser {
        display: none;
    }

    .mid {
        align-items: center;
        width: 100%;
    }

    .userField {
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px;
        height: auto;

        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (min-width: 626px) {
    .containerMain {
        height: auto;
        width: 81.5%;
        min-height: 100%;
        padding: 40px 0px;
        margin: 20px;
    }

    .mid {
        flex-basis: 33.33%;
    }
}

@media screen and (max-width: 625px) {
    .containerMain {
        width: 100%;
        padding: 15px;
        margin: 0px;
        border-radius: 0px;
    }

    .thumbGame {
    border-radius: 25px 25px 0px 0px;
    height: 190px;
    overflow: hidden;
}
}

.gameWallpaper {
    width: 100%;
}